@font-face {
    font-family: "Akrobat-Extra-Bold";
    src: url("../fonts/Akrobat/extra-bold.otf");
}

@font-face {
    font-family: "Akrobat-Bold";
    src: url("../fonts/Akrobat/bold.otf");
}

@font-face {
    font-family: "Akrobat-Regular";
    src: url("../fonts/Akrobat/regular.otf");
}

@font-face {
    font-family: "Akrobat-Light";
    src: url("../fonts/Akrobat/light.otf");
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.ttf");
}

.body {
    margin: 0;
}

#wrapper {
    color: #313335;
    width: 100%;
    height: 100%;
}

#nav-bar {
    font: 48px "Akrobat-Light";
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

#nav-bar li {
    margin-right: 30px;
}

#nav-bar li a {
    text-decoration: none;
    color: #313335;
}

#logo {
    font: 60px "Akrobat-Extra-Bold";
}

#menu-line {
    border: none;
    color: black;
    background-color: black;
    height: 3px;
    width: 100%;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

.article {
    left: 10%;
    margin: 30px 0;
    position: absolute;
    width: 45%;
}

.article-title {
    font: 48px "Akrobat-Regular";
    font-weight: bold;
}

.article-tags {
    color: #6b6c6d;
    font: 24px "Georgia";
    font-weight: bold;
}

.article-content {
    font: 24px "Georgia";
    font-weight: bold;
    margin: 20px 0;
}

.article img {
    width: 70%;
    margin-bottom: 20px;
}

.article-button {
    font: 36px "Akrobat-Bold";
    color: #7b00b5;
    font-size: 2em;
    padding: 6px 15px;
    border: 3px solid #7b00b5;
    text-decoration: none;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.article-button:hover {
    color: white;
    background: #7b00b5;
}

