<!DOCTYPE html>
<html lang="rus">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="author" content="Anton Prinzevski">
    <meta name="description" content="Этот сайт сделан Антоном Принцевским
    как часть проектной работы над системой автоматического выращивания
    растений ">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>GH: {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    {% endblock %}
</head>
<body>
    {% block body %}
    <div id="wrapper">
        {% block wrapper %}
        <div id="header">
            <ul id="nav-bar">
                <li id="logo">GreenHouse</li>
                <li><a href="">Публикации</a></li>
                <li><a href="">Достижения</a></li>
                <li><a href="">Информация</a></li>
            </ul>

            <hr id="menu-line">
        </div>
        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
        <div id="bottom-line">
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</body>
<script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
{% block js %}
{% endblock %}
</html>