@font-face {
    font-family: "Akrobat-Extra-Bold";
    src: url("../fonts/Akrobat/extra-bold.otf");
}

@font-face {
    font-family: "Akrobat-Bold";
    src: url("../fonts/Akrobat/bold.otf");
}

@font-face {
    font-family: "Akrobat-Regular";
    src: url("../fonts/Akrobat/regular.otf");
}

@font-face {
    font-family: "Akrobat-Light";
    src: url("../fonts/Akrobat/light.otf");
}

@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.ttf");
}

:root {
  --mainColor: #7b00b5;
}

.html {
    overflow-x: hidden;
}

.body {
    margin: 0;
}

a {
    background: linear-gradient(to bottom, var(--mainColor) 0%,
    var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: black;
    text-decoration: none;
    transition: background-size .2s;
}

a:hover {
    background-size: 4px 50px;
    color: white;
}

#wrapper {
    color: #313335;
    max-width: 100%;
    height: 100%;
}

#header {
    max-height: 100px;
}

#nav-bar {
    font: 48px "Akrobat-Light";
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}

#nav-bar li {
    margin-right: 30px;
}

.hidden-menu {
    position: fixed;
    text-decoration: none;
    font: 24px "Akrobat";
    text-align: center;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 270px;
    background-color: #eee;
    height: 100%;
    top: 0;
    left: -270px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu li {
    margin: 10px 0;
}

.hidden-menu li:first-child {
    margin-top: 150px;
}

.hidden-menu li a {
    background: none;
}

.hidden-menu-ticker {
  display: none;
}

.btn-menu {
    color: #6b6c6d;
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 50px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-menu span {
    display: block;
    height: 5px;
    background-color: #6b6c6d;
    margin: 10px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    position: fixed;
    left: 200px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 15px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -15px;
}

#logo {
    font: 60px "Akrobat-Extra-Bold";
    cursor: default;
}

#menu-line {
    border: none;
    color: black;
    background-color: black;
    height: 3px;
}

#content {
    list-style: none;
}

@media screen and (max-device-width: 900px) {
    #nav-bar {
        display: none;
        height: auto;
    }

    #menu-line {
        margin-top: 70px;
    }
}

@media screen and (min-device-width: 801px) {
    .btn-menu, .hidden-menu {
        display: none;
    }
}